@model IEnumerable<BlackDragonPhotographyCore.Models.Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Gallery.cshtml";
}

<h2>Image Gallery</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.GalleryID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
